<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/Users/antoine/code/antoineub/Fishbnb/app/assets/images/Landscape-Color.jpg);">
  <div class="container">
    <h1>Fishbnb</h1>
    <p>Rent your fish all over the sea.</p>
    <a class="btn btn-flat" href="#">Louer mon poisson</a>
  </div>
<%= render "layouts/shared/_navbar.html.erb" %>
</div>