<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drzg8kw0k/image/upload/v1610648282/fishbnb/shafiqul-islam-9RInlEc0TSA-unsplash_k9frwq.jpg);">
  <div class="container">
    <h1>FISHBNB</h1>
    <p>Louez les meilleurs poissons rouges</p>
    <a class="btn btn ghost btn-danger" style='border-radius: 50px' href="fishes#index">Venez découvrir notre collection de poissons rouges</a>
  </div>
</div>
