<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/drzg8kw0k/image/upload/v1610648282/fishbnb/shafiqul-islam-9RInlEc0TSA-unsplash_k9frwq.jpg);">
  <div class="container ml-5" style="padding-left:0;">
    <h1 style="font-size: 56px">FISHBNB</h1>
    <p style="font-size: 28px" class="mt-3">Louez les plus beaux poissons rouges</p>
    <a class="btn btn ghost btn-danger mt-3" style='border-radius: 50px' href="fishes#index">Découvrez nos poissons rouges !</a>
  </div>
</div>
