.card {
  width: 220px;
  border-width: 0;
  margin: 10px 0;
}

.card-category {
  color: #FFFCFC;
  height: 280px;
  background-size: 100% 100%;
  // background-repeat: no-repeat;
  background-position: center;
  // flex-grow: 1;
  // justify-content: space-around;
  text-align: center;
  // align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 12px;
}
.card-actions {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.card-actions:hover {
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-decoration: none;
}
