.mapboxgl-popup {
  max-width: 100px;
}
.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

// Fish Index Map 

#map {
  height: 83vh;
  width: 34%;
  position: sticky;
  top: 9vh;
  right: 0;
}
