.mapboxgl-popup {
  max-width: 100px;
}
.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

// Fish Index Map

#map {
  height: calc(100vh - 126px);
  width: 34%;
  position: sticky;
  top: 66px;
  right: 0;
}
