<h1> Liste des poissons disponibles à la location</h1>
<div class="cards">
  <% @fishes.each do |fish|%>
    <div class="flex-item card">
      <% if fish.photo.attached? %>
        <div class="card-category" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path fish.photo.key %>')">
          <%= fish.name %>
        </div>
      <% end %>
    <%= link_to 'See more', fish_path(fish), class: 'btn btn-ghost btn-sm'%>
    </div>
  <% end %>
</div>
