<h1> Pour en savoir plus sur <%= @fish.name %></h1>
<p>To be completed</p>
<p>Propriétaire : <%= @fish.user.full_name %></p>
<% if policy(@fish).edit? %>
  <%= link_to "Edit #{@fish.name}", edit_fish_path(@fish) %>
<% end %>
<% if policy(@fish).destroy? %>
  <%= link_to "Delete #{@fish.name}", fish_path(@fish),
  method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
